/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap');


html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  min-width: 320px;
}

.page {
  margin: 0 auto;
  padding: 70px 15px;
  background-image: url("/background.jpeg");
  font-family: 'Comfortaa', sans-serif;
  font-style: normal;
  font-size: 16px;
  text-align: center;
}

.title {
  margin: 0;
  margin-bottom: 20px;
  font-family: 'Bungee Spice';
  font-size: 32px;
}

#grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  max-width: 400px;
  margin: 0 auto 20px;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 4.5rem;
  padding: 10px;
  background-color: #f0ba98;
  border-radius: 5px;
  text-align: center;
  font-size: 3rem;
  cursor: pointer;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
}

@media (max-width: 500px) {
  .card {
    height: 3.5rem;
    width: 3.5rem;
    padding: 5px;
    font-size: 2.5rem;
  }

  .button {
    animation: slidebg 10s infinite;
  }

  .page {
    padding: 50px 15px;
  }
}

.card.flipped {
  background-color: #c07446;
  font-size: 0;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: -webkit-transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transform 0.8s;
  transition: transform 0.8s, -webkit-transform 0.8s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

#score {
  margin-bottom: 20px;
}

.button {
  padding: 8px 16px;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-image: -webkit-gradient(linear,
      left top, right top,
      from(#E7484F),
      color-stop(16.65%, #E7484F),
      color-stop(16.65%, #F68B1D),
      color-stop(33.3%, #F68B1D),
      color-stop(33.3%, #FCED00),
      color-stop(49.95%, #FCED00),
      color-stop(49.95%, #009E4F),
      color-stop(66.6%, #009E4F),
      color-stop(66.6%, #00AAC3),
      color-stop(83.25%, #00AAC3),
      color-stop(83.25%, #732982),
      color-stop(100%, #732982),
      to(#E7484F));
  background-image: -o-linear-gradient(left,
      #E7484F,
      #E7484F 16.65%,
      #F68B1D 16.65%,
      #F68B1D 33.3%,
      #FCED00 33.3%,
      #FCED00 49.95%,
      #009E4F 49.95%,
      #009E4F 66.6%,
      #00AAC3 66.6%,
      #00AAC3 83.25%,
      #732982 83.25%,
      #732982 100%,
      #E7484F 100%);
  background-image: linear-gradient(to right,
      #E7484F,
      #E7484F 16.65%,
      #F68B1D 16.65%,
      #F68B1D 33.3%,
      #FCED00 33.3%,
      #FCED00 49.95%,
      #009E4F 49.95%,
      #009E4F 66.6%,
      #00AAC3 66.6%,
      #00AAC3 83.25%,
      #732982 83.25%,
      #732982 100%,
      #E7484F 100%);
  -webkit-animation: slidebg 3s linear infinite;
          animation: slidebg 3s linear infinite;
}

@-webkit-keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

@keyframes slidebg {
  to {
    background-position: 20vw;
  }
}

.button:hover,
button:active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.button:active {
  -webkit-transform: scale(.7);
      -ms-transform: scale(.7);
          transform: scale(.7);
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.msg,
.gameTimer {
  display: none;
  margin-bottom: 20px
}
